
@{
    ViewBag.Title = "GetBook";
}

<form method="post">
    <p>Введите название книги: </p>
    <input type="text" name="title" />
    <p>Введите автора :</p>
    <input type="text" name="author" />
    <input type="submit" value="Отправить" />
</form>

