@{
    ViewBag.Title = "Книжный магазин";
}
<div>
    <h3></h3>
    <table>
        <tr>
            <td><p>Название книги</td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
        </tr>
        @foreach (var b in ViewBag.Books)
        {
         <tr>
             <td><p>@b.Name</td>
             <td><p>@b.Author</p></td>
             <td><p>@b.Price</p></td>
             <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
         </tr>   
        }
    </table>
</div>